.regbg {
  background-color: rgb(245, 96, 121, 0.8);
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  align-items: center;
  padding: auto;
}

.inputcover {
  position: absolute;
  bottom: 0px;
  left: auto;
  right: auto;
  width: 100vw;
  text-align: center;
  font-family: 'Corier New';
  margin-top: 250px;
}
.input {
  padding: 15px;
  font-size: 1rem;
  width: 90%;
  border-radius: 20px;
  margin: auto;
  margin-top: 25px;
}
.registerbtn {
  margin: 20px;
  padding: 5px;
  padding-left: 60px;
  padding-right: 60px;
  cursor: pointer;
  font-family: monospace;
  background-color: rgba(0, 0, 250, 0.8);
  font-size: 1.5rem;
  border-radius: 10px;
  border: solid rgba(0, 0, 250, 0.8) 2px;
  color: white;
}
.pdtosignin {
  margin: 20px;
  padding: 5px;
  padding-left: 60px;
  padding-right: 60px;
  cursor: pointer;
  font-family: monospace;
  background-color: rgba(0, 0, 250, 0.8);
  font-size: 1.2rem;
  border-radius: 10px;
  border: solid rgba(0, 0, 250, 0.8) 2px;
  color: white;
}
.error {
  color: red;
  margin-top: 5px;
  font-family: monospace;
  font-weight: bold;
}
.successpage {
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 300px;
  height: 100vh;
  color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
}
